<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Google News Scraper</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	{{!-- <link rel="stylesheet" href="./css/puppy_style.css" type="text/css" /> --}}
</head>

<body>
    {{{ body }}}
</body>