<div id="wrapper">
  <h1>Google News Scraper</h1>
  <div id="wrapper">
    <div id="headline">
      <h2>Headlines</h2>
      <h3>Click on a headline to add notes</h3>
    </div>
    <div id="notes">
      <h2>Notes</h2>
    </div>
  </div>
</div>