<div id="wrapper">
      <h1>Google News Scraper</h1>
      <div id="headline">
        <h3>Headlines</h3>
        <h4>Click on a headline to add notes</h4>
      </div>
      <div id="notes"><h3>Notes</h3></div>
    </div>
