/* TODO style page */

* {
    text-align: center; 
}

#headline {
    position: relative; 
    width: 60vw;
    float: left; 
    border: solid black 1px; 
}

p:hover {
    font-size: 1.25rem;
}

#notes {
    position: relative; 
    width: 30vw; 
    float: right; 
}

